/* Alert bar */
.offer_alert_bar {
  position: absolute;
  top: 0;
  left: 0;
  padding: 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  color: var(--text-white);
  background-color: var(--primary-opacity-80);
}

.offer_form_wrap {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.offer_left_form_section {
  display: flex;
  flex-wrap: wrap;
  padding: 3rem;
  padding-left: 3rem;
  min-width: 50svw;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.offer_form_container {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}

.offer_form_title {
  padding: 1rem;
}

.offer_form_section {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.offer_form {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.offer_form {
  display: flex;
  gap: 1rem;
}
.offer_form section {
  display: flex;
  flex-direction: column;
}
.offer_form label {
  font-size: 0.9em;
}

.offer_form_section_input_container section {
  padding-bottom: 1rem;
}
.offer_form_section_input input {
  border: none;
  padding: 0.5rem;
  border-radius: 2px;
  border: 1.95px solid var(--color-gray);
}
.offer_form input:hover {
  cursor: pointer;
  border: 1.95px solid var(--color-black);
  background-color: var(--bg-600);
}

.offer_form input:user-valid {
  border: 1.95px solid green;
  background-color: transparent;
}

.offer_form_submit {
  color: var(--text-900);
  background-color: var(--accent-800);
}
.offer_form_submit:hover {
  background-color: var(--accent-900);
}

.offer_svg_container img {
  max-width: 100%;
}

.offer_svg_container {
  margin: 0 auto;
}
@media screen and (min-width: 1000px) {
  .offer_form_wrap {
    height: 90svh;
    display: grid;
    grid-template-columns: 0.7fr 1fr;
    grid-template-rows: 1fr;
  }
}
@media screen and (max-width: 999px) {
  .offer_left_form_section {
    width: 100%;
  }
}
